.App {
  text-align: center;
}

.title {
  color: #333333;
}

.chart__container {
  padding: 10px;
}

.chart__holders {
  display: flex;
  justify-content: center;
}

#map-js {
  margin: auto;
  width: 600px;
  height: 300px;
}

.chart--bar {
  width: 600px;
  height: 400px;
}

.button {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #0090b9;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  #map-js,
  .chart--bar {
    width: 100%;
  }

  .chart__holders {
    flex-direction: column;
  }
}