.App {
  text-align: center;
}

.title {
  color: #333333;
}

.chart__holders {
  display: flex;
  justify-content: center;
}

#map-js {
  margin: auto;
  width: 600px;
  height: 300px;
}

.button {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #0090b9;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
